
{% extends "base.html" %} <!--reprend le contenu de la template base.html-->


{% block body %} <!--remplace le contenu du bloc content-->

<div class="jumbotron text-center">
    <h1>L'évolution du Cyberpunk</h1>
</div>

<br><br>
<p class="accueil-p">Notre projet s’insère dans un travail d’étude et de recherche en littérature et culture numérique, sur le thème du cyberpunk. Le cyberpunk est un genre de la science-fiction, qui se décline dans le roman, les nouvelles, les fanfictions, mais également la bande dessinée, le cinéma, la musique, les jeux vidéo et les jeux de rôle.
    <br><br>
    Nous souhaitons répondre à différentes problématiques telles que : 
    <br>Est-ce que le cyberpunk est de nouveau un centre d'intérêt une culture, se développe-t-il à nouveau notamment sur les réseaux ? 
    <br>Comment pouvons-nous caractériser ce mouvement et quelle est son évolution ?
    <br><br><br>
</p>

{% endblock %} <!--remplace le contenu du bloc content-->
