<!--Autres genres Comparaison entre genres : Pour pouvoir discriminer le texte, quel genre, pourcentage de précision et les raisons (donc les mots qui l'excluent ou qui l'incluent dans un genre)-->

{% extends "base.html" %} 


{% block body %} 

<div class="jumbotron text-center">
    <h2>Autres genres</h2>
</div>

<br><br>
<p class="autres-genres-p">
    text
    <br><br>
     
    <br> 
    <br>
    <br><br><br>
</p>

<p class="romance-p"><h3>Cyberpunk en comparaison avec la Romance</h3>
</p>
<p> Cyberpunk</p>
<img src="{{url_for('static',filename='images/cyberpunkromance_cyber.jpg')}}"width=500><br><br>
<p> Romance</p>
<img src="{{url_for('static',filename='images/cyberpunkromance_romance.jpg')}}"width=500><br><br>

<p class="crime-p"><h3>Cyberpunk en comparaison avec le Crime</h3>
</p>
<p> Cyberpunk</p>
<img src="{{url_for('static',filename='images/cyberpunkcrime_cyber.jpg')}}"width=500><br><br>
<p> Crime</p>
<img src="{{url_for('static',filename='images/cyberpunkcrime_crime.jpg')}}"width=500><br><br>

<p class="space-p"><h3>Cyberpunk en comparaison avec le Space</h3>
</p>
<p> Cyberpunk</p>
<img src="{{url_for('static',filename='images/cyberpunkspace_cyber.jpg')}}"width=500><br><br>
<p> Space</p>
<img src="{{url_for('static',filename='images/cyberpunkspace_space.jpg')}}"width=500><br><br>

<p class="thriller-p"><h3>Cyberpunk en comparaison avec le Thriller</h3>
</p>
<p> Cyberpunk</p>
<img src="{{url_for('static',filename='images/cyberpunkthriller_cyber.jpg')}}"width=500><br><br>
<p> Thriller</p>
<img src="{{url_for('static',filename='images/cyberpunkthriller_thriller.jpg')}}"width=500><br><br>

<p class="vampire-p"><h3>Cyberpunk en comparaison avec le Vampire</h3>
</p>
<p> Cyberpunk</p>
<img src="{{url_for('static',filename='images/cyberpunkvampire_cyber.jpg')}}"width=500><br><br>
<p> Vampire</p>
<img src="{{url_for('static',filename='images/cyberpunkvampire_vampire.jpg')}}"width=500><br><br>

<p class="fantasy-p"><h3>Cyberpunk en comparaison avec la Fantasy</h3>
</p>
<p> Cyberpunk</p>
<img src="{{url_for('static',filename='images/cyberpunkfantasy_cyber.jpg')}}"width=500><br><br>
<p> Fantasy</p>
<img src="{{url_for('static',filename='images/cyberpunkfantasy_fantasy.jpg')}}"width=500><br><br>

<p class="sciencefantasy-p"><h3>Cyberpunk en comparaison avec la Science Fantasy</h3>
</p>
<p> Cyberpunk</p>
<img src="{{url_for('static',filename='images/cyberpunksciencefantasy_cyber.jpg')}}"width=500><br><br>
<p> Science Fantasy</p>
<img src="{{url_for('static',filename='images/cyberpunksciencefantasy_sciencefantasy.jpg')}}"width=500><br><br>

<p class="steampunk-p"><h3>Cyberpunk en comparaison avec le Steampunk</h3>
</p>
<p> Cyberpunk</p>
<img src="{{url_for('static',filename='images/cyberpunksteampunk_cyber.jpg')}}"width=500><br><br>
<p> Steampunk</p>
<img src="{{url_for('static',filename='images/cyberpunksteampunk_steampunk.jpg')}}"width=500><br><br>

<p class="horreur-p"><h3>Cyberpunk en comparaison avec l'Horreur</h3>
</p>
<p> Cyberpunk</p>
<img src="{{url_for('static',filename='images/cyberpunkhorreur_cyber.jpg')}}"width=500><br><br>
<p> Horreur</p>
<img src="{{url_for('static',filename='images/cyberpunkhorreur_horreur.jpg')}}"width=500><br><br>

<p class="dystopie-p"><h3>Cyberpunk en comparaison avec la Dystopie</h3>
</p>
<p> Cyberpunk</p>
<img src="{{url_for('static',filename='images/cyberpunkdystopie_cyber.jpg')}}"width=500><br><br>
<p> Dystopie</p>
<img src="{{url_for('static',filename='images/cyberpunkdystopie_dystopie.jpg')}}"width=500><br><br>

<p class="humour-p"><h3>Cyberpunk en comparaison avec l'Humour</h3>
</p>
<p> Cyberpunk</p>
<img src="{{url_for('static',filename='images/cyberpunkhumour_cyber.jpg')}}"width=500><br><br>
<p> Humour</p>
<img src="{{url_for('static',filename='images/cyberpunkhumour_humour.jpg')}}"width=500><br><br>



<div class="charts">
    
    <div id='words' class='chart'></div>
</div>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>

    var graphs = {{graphJSON_genres | safe}};
    Plotly.plot('words',graphs,{});
  </script>
{% endblock %} 
