<!--Autres genres Comparaison entre genres : Pour pouvoir discriminer le texte, quel genre, pourcentage de précision et les raisons (donc les mots qui l'excluent ou qui l'incluent dans un genre)-->

{% extends "base.html" %} 


{% block body %} 



<div class="jumbotron text-center">
    <h2>Autres genres</h2>
</div>


<br><br>
<p class="autres-genres-p">
    text
    <br><br>
     
    <br> 
    <br>
    <br><br><br>
</p>

<div class="forms">
   {% include 'select_form.html' %}

    <form action = "http://localhost:5000/prediction" method = "POST" 
            enctype = "multipart/form-data" class="file_form">
        <input type = "file" name = "file" />
        <input type = "submit"/>
    </form> 
</div>



<div class="comparaison_container">
    <h3 class="romance-p">Cyberpunk en comparaison avec {{genre}}</h3>
    <div class="sub_container">
        <div class="genre_1">
            <h4> Cyberpunk</h4>
            <img src="/static/images/{{genre}}_Cyberpunk.jpg"width=500>
        </div>
        
        <div class="genre_2">
            <h4> {{genre}}</h4>
            <img src="/static/images/{{genre}}_{{genre}}.jpg"width=500>
        </div>
        
    </div>
    
    
</div>

<style>
    .sub_container {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    .comparaison_container {
        margin-bottom: 50px;
    }
    .forms,.file_form{
        display: flex;
        justify-content: space-between;
    }
    .file_form{
        width: 400px;
    }
</style>

<div class="charts">
    
    <div id='words' class='chart'></div>
</div>


<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>

    var graphs = {{graphJSON_genres | safe}};
    Plotly.plot('words',graphs,{});
  </script>
{% endblock %} 
