<!--"Sous-genres" du cyberpunk : (exemples de sous genres : roman noir, dystopie, ...) CYBERPUNK CONTRE LE RESTE
dérivés/genres semblables mais pas du cyberpunk : steampunk, dieselpunk, biopunk, ... : intéressant de faire une discrimination à l'intérieur de ces dérivées car le cyberpunk est souvent confondu avec eux
-->

{% extends "base.html" %} <!--reprend le contenu de la template base.html-->


{% block body %} 

<div class="jumbotron text-center">
    <h2>Sous-genres du Cyberpunk</h2>
</div>

<br><br>
<p class="sous-genres-p">
    text
    <br><br>
     
    <br> 
    <br>
    <br><br><br>
</p>

{% endblock %} 
